/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2015, 1:31:43 AM
    Author     : zayfals2015
*/

body{
    background: rgba(0,0,0,0.2);
    text-align: center;
}
#content{
    height: 80%;
    width: 100%;
    

}
#menuframeid{
    margin: 0px;
    padding: 0px;
    height: 800px;
    width: 15%;
    float: left;
    border-bottom: none;
}
#contentframeid{
    margin: 0px;
    padding: 0px;
    float: left;
    height: 800px;
    width: 70%;
    background: whitesmoke;
    border: none;


}
#browserframeid{
    margin: 0px;
    padding: 0px;
    height: 200px;
    width: 14%;
    float: right ;
    border: none;
    position: relative;
}